body{
    font-family: 'Arvo', serif;
    background-color: #F1F3F5;
}
input{
    border: 0;
    background-color: transparent;
}
input:focus{
    outline: none;
    background-color: transparent;
}
input[type=button]{
    color:green;
    border: 1px solid green;
}
input[type=button]:hover{
    background-color: green;
    color:white;
}
button{
    background-color: transparent;
    border: none;
}

.btn-auth{
    width: 100px;
    height: 30px;
}
